In [ ]:
#1) Print all elements of a list using for loop.

In [4]:
b = [2, 4, 8,'joke', 'fola']
for i in b:
    print (i)

2
4
8
joke
fola

In [5]:
#2) Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.

In [12]:
import numpy as np

In [13]:
np.arange(1,101,2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
       69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99])

In [16]:
np.arange(2,101,2)

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [ ]:
#3) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their 
#salary and year of service and print the net bonus amount.

In [45]:
salary = int(input())
year_of_service = int(input())
if year_of_service > 5:
    print ('my bonus is', salary*0.05)

50000
7
my bonus is 2500.0

In [43]:
salary = int(input("Enter your salary:"))

service_yrs = int(input("Enter Years of service:"))

if service_yrs > 5:

    print("Yours salary(+Bonus) = ",salary + (salary)*5/100)

else:

     print("You are not eligible for bonus as you have less service years.")

Enter your salary:100000
Enter Years of service:8
Yours salary(+Bonus) =  105000.0

In [17]:
#4) Take input of age of 3 people by user and determine oldest and youngest among them.

In [24]:
ages = [12, 23, 3]
oldest = max(ages)
print(oldest)

23

In [25]:
ages = [12, 23, 3]
youngest = min(ages)
print(youngest)

3

In [ ]:
#5) A school has following rules for grading system:

In [ ]:
#6) Write a Python script to merge two Python dictionaries

In [31]:
a ={'Lagos':1000, 'Ogun':500, 'Abia':200}
t = {'kwara':320, 'oyo':540}
a.update(t)
print(a)

{'Lagos': 1000, 'Ogun': 500, 'Abia': 200, 'kwara': 320, 'oyo': 540}

In [ ]:
#7) Write a Python program to remove a key from a dictionary.

In [34]:
print(a)

{'Lagos': 1000, 'Ogun': 500, 'Abia': 200, 'kwara': 320, 'oyo': 540}

In [37]:
if 'Abia' in a:
    del a['Abia']
print(a)

{'Lagos': 1000, 'Ogun': 500, 'kwara': 320, 'oyo': 540}

In [ ]:
#8) Write a Python program to get the largest number from a list

In [38]:
list1 = [23,33,59,100,105]
max(list1)

105